
    // VARIABLES - COLORS
    $main-color: #102c58;
    $light-blue: #5f9cfd;
    $red: #f91605;
    $bg-color: #ececec;
    $orange: #f5642d;
    $light-grey: #d0d0d0;
    $header-color: #ffffff;
    $mainOrange  : #eaae23;